{% extends "quiz/base.html" %}

{% block content %}
<h2 class="my-4">{{ test.title }}</h2>
<form method="post">
    {% csrf_token %}
    {% for question in test.questions.all %}
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">{{ question.text }}</h3>
            {% for answer in question.answers.all %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                <label class="form-check-label">{{ answer.text }}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Отправить результат</button>
</form>
{% endblock %}
