{% extends "quiz/base.html" %}

{% block content %}
  <h2>Моя Статистика</h2>
  {% for attempt in attempts %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ attempt.test.title }}</h5>
        <p class="card-text">Правильные ответы: {{ attempt.correct_answers }}</p>
        <p class="card-text">Неправильные ответы: {{ attempt.incorrect_answers }}</p>
        <a href="{% url 'quiz:test_result' pk=attempt.pk %}" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  {% empty %}
    <p>Вы еще не прошли ни одного теста.</p>
  {% endfor %}
{% endblock %}
