{% extends "quiz/base.html" %}

{% block content %}
  <div class="container">
    <h2 class="mt-3 mb-3">Статьи</h2>
    <div class="row">
      {% for article in articles %}
        <div class="col-md-4 mb-3">
          <div class="card">
            <img class="card-img-top" src="{{ article.cover_image.url }}" alt="Обложка статьи">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <p class="card-text">{{ article.content|striptags|escape|truncatewords:10 }}</p>
              <a href="{% url 'articles:article_detail' article.id %}" class="btn btn-primary">Читать далее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
